<ion-header>
  <ion-toolbar    color="tertiary">
    <ion-buttons slot="start" collapse="true">
      <ion-button (click)="goback()" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      </ion-buttons>
    <ion-avatar slot="start">
      <img height="10px" src="https://ui-avatars.com/api/?name={{ data.to }}&background=0D8ABC&color=fff">
    </ion-avatar>
    <ion-title class="name">{{ data.to }}</ion-title>
   
  
  </ion-toolbar>

</ion-header>

<ion-content> 
  <ion-fab    vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button   color="primary" >
      <ion-icon name="attach"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button  (click)="uploadcamera()" color="light">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button  (click)="uploadimage()" color="light">
        <ion-icon name="image"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="recordAudio()" color="light">
        <ion-icon name="microphone"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="recordVideo()" color="light">
        <ion-icon name="videocam"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>
  <ion-grid  >
    <ion-row *ngFor="let message of messages">
      <ion-col size="9" (press)="presentActionSheet(message)"   *ngIf="message.to === data.from" class="{{ getSentiment(message.score) }} message ">
        <video *ngIf="message.isfile && message.ext=='mp4'"  width="320" height="240" controls>
          <source src="https://letchat-upload.herokuapp.com/{{message.file}}" type="video/mp4">
            </video>
        <img *ngIf="message.isfile && message.ext=='jpeg'"  height='230px' src="https://letchat-upload.herokuapp.com/{{message.file}}" > 
        <span>{{ message.message }}</span><img *ngIf="isspam(message.spamcheck)"  height='30px' src="https://image.flaticon.com/icons/svg/564/564619.svg" >
        <img *ngIf="isbirthday(message.message)"  height='30px' src="https://image.flaticon.com/icons/svg/2451/2451787.svg" > 
        <img *ngIf="iscongratulation(message.message)"  height='130px' src="https://image.flaticon.com/icons/png/512/1629/1629891.png" > 
        
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>

      </ion-col>
 
      <ion-col offset="3" size="9" *ngIf="message.to !== data.from" class="message my-message">
        <video *ngIf="message.isfile && message.ext=='mp4'"  width="320" height="240" controls>
          <source src="https://letchat-upload.herokuapp.com/{{message.file}}" type="video/mp4">
            </video>
      
        <img *ngIf="message.isfile && message.ext=='jpeg'"  height='230px' src="https://letchat-upload.herokuapp.com/{{message.file}}" > 
        <span>{{ message.message }} </span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
    </ion-row>
    <ion-list  >
      <ion-item *ngFor="let img of images; index as pos" text-wrap>
        <img   height='230px' width="340px" [src]="img.path" > 
        <ion-item-divider></ion-item-divider>
        <ion-button slot="start"  (click)="startUpload(img)" ><ion-icon slot="icon-only" name="cloud-upload"></ion-icon>Send</ion-button>
        <ion-button  slot="end" (click)="deleteImage(img, pos)"><ion-icon slot="icon-only" name="trash"></ion-icon>cancel</ion-button>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item-sliding *ngFor="let f of files">
        <ion-item (click)="openFile(f)">
          <ion-icon name="videocam" slot="start" *ngIf="f.name.endsWith('MOV') || f.name.endsWith('mp4')"></ion-icon>
          <ion-icon name="mic" slot="start" *ngIf="f.name.endsWith('wav') || f.name.endsWith('mp3')"></ion-icon>
   
          <ion-label class="ion-text-wrap">
            {{ f.name }}
            <p>{{ f.fullPath }}</p>
          </ion-label>
        </ion-item>
   
        <ion-item-options side="start">
          <ion-item-option (click)="deleteFile(f)" color="danger">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option (click)="uploadFile(f)" color="primary">
            <ion-icon name="cloud-upload" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
   
      </ion-item-sliding>
    </ion-list>
  </ion-grid>
 
</ion-content>
 

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1" (keyup.enter)="sendMessage()"   [(ngModel)]="data.message"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="data.message === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
